.mapstyle {
  width: 700px;
  height: 500px;
  border: 1px solid #000000;
  float: left;
}

.directionstyle {
  width: 300px;
  height: 500px;
  float: left;
}

#right-panel {
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  float: left;
  width: 63%;
  height: 100%;
}

#right-panel {
  float: right;
  width: 34%;
  height: 100%;
}

.panel {
  height: 100%;
  overflow: auto;
}

.text_size {
  font-size: 20px;
}

li:hover {
  background-color: #b3e6ff;
}

.body-list ul {
  width: 100%;
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
}

.body-list ul li {
  width: 14.28%;
  height: 150px;
  line-height: 36px;
  list-style-type: none;
  display: block;
  box-sizing: border-box;
  float: left;
  text-align: center;
}

.lightcolor ul li {
  width: 14.28%;
  height: 30px;
  line-height: 36px;
  list-style-type: none;
  display: block;
  box-sizing: border-box;
  float: left;
  text-align: center;
}

.lightcolor {
  color: #DC3545;
}

.lightgrey {
  color: rgb(190, 188, 188);
}

.today {
  color: #DC3545;
}

.todaybg {
  border: 1px solid #DC3545;
  background: rgb(255, 234, 237);
}

.darkgrey {
  color: #3b3a3a;

}

.nowdate {
  color: white;
  background-color: rgb(239, 79, 105);
}

.text-gray {
  color: rgb(68, 67, 67);
}
